.search-parent{
    margin-top:0px;
    z-index: 999;
}
.searchBar-parent{
    display: flex;
    justify-content: center;
    align-items: center;
}
.searchBar-parent input{
    width: 600px;
    padding: 10px;
    border-radius: 20px 0px 0px 20px;
    border: 1px solid lightgray;
    outline: none;
    cursor: pointer;
}

.searchBar-parent button{
    padding: 10px;
    border: 1px solid lightgray;
    border-radius: 0px 20px 20px 0px;
    width: 50px;
    background-color: whitesmoke;
}
.searchBar-parent button:active{
    padding: 12px;
}
.searchBar-parent button i{
    font-size: 20px;
    color: rgba(0, 0, 0, 0.4);
}