*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: outfit;
}
p,h1,h2,h3{
  margin: 0;
  padding: 0;
}
.content-div{
  display: flex;
  justify-content: space-between;
}
a{
  text-decoration: none;
  color: inherit;
}